<style>
#table {
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #e7e7e7;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}
#table tr:nth-child(odd){background-color: #ffffff;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e7e7e7;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#table td {
  /* word-break: break-all;
  word-wrap: break-word;
  text-align: left !important; */
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
					<!--<h2 class="page-header">{:__('Device')}</h2>-->
					<div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh,add')}
                    </div>
					<table id="table" class="table table-bordered table-hover table-nowrap" width="100%">
					
					</table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
