<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
					<!--<h2 class="page-header">{:__('Device')}</h2>-->
					<!-- <div id="toolbar" class="toolbar">
						<a href="javascript:;" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i> </a>
					</div> -->
					<table id="table" class="table table-bordered table-hover table-nowrap" width="100%">
					
					</table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
