<style>
    .profile-avatar-container {
        position:relative;
        width:100px;
    }
    .profile-avatar-container .profile-user-img{
        width:100px;
        height:100px;
    }
    .profile-avatar-container .profile-avatar-text {
        display:none;
    }
    .profile-avatar-container:hover .profile-avatar-text {
        display:block;
        position:absolute;
        height:100px;
        width:100px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 100px;
        text-align: center;
    }
    .profile-avatar-container button{
        position:absolute;
        top:0;left:0;width:100px;height:100px;opacity: 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--<h2 class="page-header">{:__('Device')}</h2>-->
					<table>
						<thead>
							<tr>
								<td>IMEI</td>
								<td>MODEL</td>
								<td>is_disable</td>
								<td>user_id</td>
								<td>sn</td>
								<td>imsi</td>
								<td>createtime</td>
								<td>updatetime</td>
							</tr>
						</thead>
						<tbody>
							{foreach $userdevice as $u}
								<tr>
									<th>{$u.imei}</th>
									<th>{$u.model}</th>
									<th>{$u.is_disable}</th>
									<th>{$u.user_id}</th>
									<th>{$u.sn}</th>
									<th>{$u.imsi}</th>
									<th>{$u.createtime}</th>
									<th>{$u.updatetime}</th>
								</tr>
							{/foreach}
						</tbody>
					</table>
                </div>
            </div>
        </div>
    </div>
</div>
